.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project {
    overflow: auto;
    min-width: 200px;
    margin-top: 40px;
    max-width: 250px;
    background: white;
    border: 3px solid #999899;
    border-radius: 20px;
    font-size: 1.6rem;
    font-family: 'Grandstander', cursive;
    text-align: center;
}

a {
    color: #38A3A5;
    text-decoration: none;
    font-size: 0.8em;
  }

.image {
    max-width:100%;
    max-height:100%;
}