@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Merriweather:wght@300&display=swap');

body, html, * {
  margin: 0;
  padding: 0;
}

.head-part {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: #323031;
}

.about-first {
  color: white;
  text-align: center;
  font-size: 4vw;
}

#react {
  color: rgb(0, 132, 255);
}

#vue {
  color: rgb(1, 172, 52);
}

.name {
  font-size: 7vw;
  color: white;
  font-family: 'Grandstander', cursive;
}

.skills-text {
  font-size: 7vw;
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.skills {
  background: #323031;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}


.about-part {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #323031;
}

.about-skills-text {
  font-family: 'Merriweather', serif;
  color: aliceblue;
  font-size: 5vw;
  text-align: center;
  margin-top: 30px;
}

.recent-projects {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'Grandstander', cursive;
}

.about-card {
  width: 30%;
  border: 1px solid whitesmoke;
  padding: 30px;
  align-self: center;
  margin: 2rem;
  border-radius: 20px;
  background: #1F7A8C;
  color: #fffffe;
  font-size: 14px;
}

.footer {
  background: #4800ce;
  color: white;
  height: 60px;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}